<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Tercer {{ tercer.nom }}</title>
    </head>
    <body>
    <h3>Contacte</h3>
    <table>
            <tr>
                    <td>Nom</td>
                    <td>{{ tercer.nom }}</td>
            </tr>
    </table>
    <h3>Contractes</h3>
    <table>
            <tr>
                    <td>Serveis</td>
                    <td>Periode</td>
                    <td>Comentari</td>
                    <td>Alta</td>
                    <td>Factures</td>
                    <td>Pagaments</td>
            </tr>
            {% for contracte in info %}
                {% for factura in contracte.factures %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ contracte.factures|length }}">{% for servei in contracte.contracte.serveis.all %}{{ servei }}{% endfor %}</td>
                            <td rowspan="{{ contracte.factures|length }}">{{ contracte.contracte.periode }}</td>
                            <td rowspan="{{ contracte.factures|length }}">{{ contracte.contracte.comentari }}</td>
                            <td rowspan="{{ contracte.factures|length }}">{{ contracte.contracte.alta }}</td>
                        {% endif %}
                        <td>{{ factura.factura.creacio}}</td>
                        <td>
                            {% for es in factura.es %}
                                {{ es.quantitat }}
                            {% endfor %}
                        </td>
                    </tr>
                 {% endfor %}
            {% endfor %}
    </table>
    </body>
</html>
