.factura-container {
    margin: 0 auto;
    width: 700px;
}

table.factura {
    width: 100%;
    margin-bottom: 40px;
}

table.factura th {
    text-align: left;
    background-color: #343538;
    color: #fff;
}

table.factura th ,
table.factura td {
    padding: 5px;
}

td.total {
    font-weight: bold;
    text-transform: uppercase;
}

td.logo {
    text-align: right;
}

.provider-info td {
    font-weight: bold;
}
